/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #f5afad;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-raidus: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* universal tags */
body {
  font-family: "Noto Sans KR", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

#home > h3 {
  color: var(--color-light-white);
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* navbar */

#navbar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(85deg, #e8a075, #b76ba9);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo a {
  font-size: var(--font-medium);
  font-weight: 500;
  color: var(--color-white);
}

.navbar__logo img {
  width: 25px;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 4px;
  cursor: pointer;
  border-radius: var(--size-border-raidus);
  transition: all 0.8s ease;
}

.navbar__menu__item:hover {
  background-color: var(--color-yellow);
  color: var(--color-dark-grey);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-yellow);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
   /* 투명도만 주면 마우스를 올렸을 때 클릭이 되니까 display를 none으로 해야 함. */
  display: none;
}

/* For below 768px screen width */
@media screen and (max-width:768px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    /* 왼쪽 정렬 */
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
}


/* home */
#home {
  background: url("../images/BG_Gradient.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  margin-top: 50px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid var(--color-light-white);
}

.home__description,
.home__title {
  color: var(--color-white);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: 4px;
  box-shadow: 0px 0px 5px var(--color-light-white);
  color: white;
  transition: 0.2s linear;
}

.home__contact:hover {
  padding: 10px 14px;
  background-color: var(--color-dark-pink);
}

/* SECTION COMMON */
.section {
  margin: auto;
  padding: 50px;
  text-align: center;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* about major */
.about__majors {
  margin: 80px 0;
  display: flex;
  justify-content: space-between;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  background-color: white;
  margin: auto;
  color: var(--color-dark-grey);
  /* color: #6950da; */
  border: 1px solid var(--color-dark-white);
  border-radius: 50%;
  margin-bottom: 20px;
}

.major__icon i {
  transition: var(--animation-duration);
  /* 250~300ms가 가장 좋은 수치 */
}
.major__icon:hover i {
  color: var(--color-dark-pink);
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}
.major__description {
  font-size: var(--font-small);
}

.about__edu {
  display: flex;
  align-items: center;
  text-align: left;
}
.about__edu img {
  width: 30px;
  height: 30px;
  margin-right: 16px;
}
.about__edu p {
  margin: 0 16px;
  color: var(--color-light-grey);
  font-size: var(--font-small);
}

.about__edu p:last-child {
  font-size: var(--font-micro);
}

/* skills section */
#skills {
  display: flex;
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}
.skillset__title {
  color: var(--color-light-white);
}

.skill_description {
  display: flex;
  justify-content: space-between;
}
.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}

.skill__bar {
  height: 3px;
  width: 100%;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 16px;
}

/* my work section */
#work {
}
.work___categories {
  margin: 40px;
}
.cartegory___btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-raidus);
  padding: 8px 48px;
  font-size: var(--font-regular);
}

.cartegory___btn.active,
.cartegory___btn:hover {
  background-color: var(--color-dark-pink);
  color: var(--color-white);
}

.cartegory___count {
  display: inline-block;
  background-color: var(--color-orange);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: var(--color-white);
  line-height: 24px;
  margin-left: 8px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.cartegory___btn.active .cartegory___count,
.cartegory___btn:hover .cartegory___count {
  opacity: 1;
  top: 0;
  /* 카테고리 버튼이 활성화 된 카테고리 카운트와, 
  카테고리 버튼이 호버되었을 때 카테고리 카운트일 때 만! */
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project___img {
  max-width: 100%;
  max-height: 100%;
  /* 이미지는 프로젝트 박스 안에 담겨있기 때문에, 
  자신이 담겨있는 통 안에서만 커지도록 설정 */
}

.project___description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}
.project:hover .project___description {
  opacity: 0.8;
  transform: translateY(0px);
}
.project___description h3,
.project___description span {
  color: white;
}

.project___description h3::after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--color-dark-white);
  display: block;
  position: relative;
  left: 50%;
  margin-left: -12px;
  margin-top: 8px;
}

/* testimonials */
#testimonials {
  background-color: var(--color-light-white);
  margin: 0 auto;
}
.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial___avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.testimonial___avatar:nth-child(odd) {
  margin-right: 40px;
  /* odd number -홀수 */
}

.testimonial___avatar:nth-child(even) {
  margin-left: 40px;
  /* even number -짝수 */
}

.testimonial___speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-raidus);
}

.testimonial___speech-bubble p {
  color: var(--color-light-grey);
}
.testimonial___speech-bubble p > a {
  color: var(col --color-dark-pink);
  margin-right: 8px;
}

.testimonial___speech-bubble .name {
  font-weight: var(--weight-semi-bold);
}

/* contact me  */
#contact {
  background-color: var(--color-pink);
}

.contact___email,
.contatct___title,
.contact___rights,
.contact__links a{
  color: var(--color-white);
}

.contatct___title {
  margin: 32px 0;
}

.contact__links a i{
  font-size: var(--font-large);
  margin: 24px 0;
  transition: all var(--animation-duration) ease;
}

.contact__links a i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
